<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Create</title>
</head>
<body>
<div class="container">
    <h1>Create a student</h1>
    <a th:href="@{/student/list}">Back to list</a>
    <form th:method="post" th:action="@{/student/create}" th:object="${student}">
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id"
                   placeholder="Enter id" th:field="*{id}"/>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name"
                   placeholder="Enter name" th:field="*{name}"/>
        </div>
        <div class="form-group">
            <label>Class name</label>
            <select th:field="*{className}">
                <option value="">Choose</option>
                <div th:each="c : ${classNames}">
                    <option th:value="${c}" th:text="${c}"></option>
                </div>
            </select>
            <div th:each="c : ${classNames}">
                <input type="radio" th:id="${c}" th:value="${c}" th:field="*{sex}"/>
                <label th:for="${c}" th:text="${c}"></label>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email"
                   placeholder="Enter id" th:field="*{email}"/>
        </div>
        <div class="form-group">
            <input type="radio" th:field="*{sex}" th:value="true"/>
            <label th:text="Male"/>
            <input type="radio" th:field="*{sex}" th:value="false"/>
            <label th:text="Female"/>
        </div>
        <div class="form-group">
            <label for="phone">Phone number</label>
            <input type="text" class="form-control" id="phone"
                   placeholder="Enter id" th:field="*{phoneNumber}"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>