<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>List</title>
</head>
<body>
<div class="container">
    <h1>List student</h1>
    <a th:href="@{/student/create}">Create new a student</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Class name</th>
            <th scope="col">Sex</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
        </tr>
        </thead>
        <tbody>
        <!--        <div  th:each="student : ${students}" th:object="student">-->
        <!--            <tr>-->
        <!--                <td th:text="*{id}"></td>-->
        <!--                <td>${s.getName()}</td>-->
        <!--                <td>${s.getClassName()}</td>-->
        <!--                <td>${s.isSex() ? "Male" : "Female"}</td>-->
        <!--                <td>${s.getEmail()}</td>-->
        <!--                <td>${s.getPhoneNumber()}</td>-->
        <!--                <td><a href="/student/view?id=${s.id}">View</a></td>-->
        <!--            </tr>-->
        <!--        </div>-->
        <tr th:each="student : ${students}" th:object="${student}">
            <td th:text="*{getId()}"></td>
            <td th:text="*{getName()}"></td>
            <td th:text="*{getClassName()}">${s.getClassName()}</td>
            <div th:if="*{isSex()}">
                <td th:text="Male"></td>
            </div>
            <div th:if="*{!isSex()}">
                <td th:text="Female"></td>
            </div>
            <td th:text="*{getEmail()}"></td>
            <td th:text="*{getPhoneNumber()}"></td>
            <td><a th:href="@{/student/view/(id = ${student.getId()})}">View</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>